<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DND COMPAS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="./css/login.css" media="screen"/>

  </head>
  <body>

      <section class="main" id="background">          
            <div id="first-message">
                <span><h1>El D&D de los compas</h1></span>
            </div>
            <div id="login-box">
              <div>
                <input name="text1" id="text1" type="text" value="" placeholder="Username" required>               
              </div>
              <div>
                <input name="password" id="myInput" type="Password" placeholder="Password">
              </div>
              <div>
                <button id="login-btn">Login</button>  
              </div>
      </section>
      </body>
</html>